.cv-container{
    height: 220vh;
    width: 100vw;
    background-color: #F9ECCC;
}
.goals{
    width: 70vw;
    margin-left: 15%;
}
.all-text{
    display: flex;
    text-align: left;
}
.all-text>p{
    justify-content: left;
}
.all-text-left{
    width: 55vw;
    padding: 3% 3%;
    margin-left: 5%;
}
.all-text-right{
    width: 45vw;
    padding: 3% 3%;
}
