.main-nav {
    height: 30vh;
    width: 100vw;
    background-color: #FFFCF2;
    color: #8EA8C3;
    margin-top: 0;
}
.title>h1{
    font-size: 3.75rem;
}
.buttons{
    display: flex;
    justify-content: center;
    padding-top: 2%;
}